# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of popular languages used in Data Science.
+ Common libraries used in Data Science.
+ Data Science Tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

+ NumPy
+ Pandas
+ Matplotlib
+ Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
|     Docker         |
| Git                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Name: Anirudha Goswami